@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #ffffff; /* Ensure a light background for contrast */
    padding-top: 100px; /* Account for fixed nav height */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100; 
    background: linear-gradient(#ff8461, #f5963e);
    padding: 0rem calc((100vw - 1400px) / 2); 
}

.logo {
    margin-left: 2rem;
}

.nav-links {
    margin-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    padding: 0rem 1rem;
}

p {
    margin-top: 120px;
    color: #333; 
    font-size: 16px; 
    margin: 20px; 
    line-height: 1.5;
}